In [7]:
#파이썬 기초4강
#연산자 - 단순연산자
#<형식> 변수=값 또는 변수=수식
a=3 #변수 a에 값 3 대입 => 변수 = 값

In [8]:
b=4  #변수 b에 값 4 대입 => 변수 = 값

In [9]:
c=123+456*6  #변수 c에 값 대입 => 변수 = 수식

In [10]:
a,b,c  #변수들  한 줄에 ,로 구분해서 출력

(3, 4, 2859)

In [11]:
a+b=c #오류, 수식=변수의 구조

SyntaxError: cannot assign to operator (2075117145.py, line 1)

In [12]:
123+456 = a #오류, 수식=변수 구조

SyntaxError: cannot assign to operator (3064555315.py, line 1)

In [13]:
#단순 대입연산자 - 자료형 변경
a=1  #변수 a에 값 1 대입

In [14]:
a = a+"안녕" #숫자형+문자형이라 자료형 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
a = "abc" #변수 a에 값 "abc"대입

In [16]:
a = a + "안녕" #문자형 + 문자형 => 두 문자를 이어서 출력

In [17]:
print(a) #메세지 출력

abc안녕

In [18]:
#복합형태 대입연산자
a=1  #변수 a에 값 1 대입

In [19]:
b=2  #변수 b에 값 2 대입

In [20]:
a,b # 변수를 ,로 구분해 한 줄에 출력

(1, 2)

In [21]:
a,b=b,a #변수 a,b의 값을 서로의 값으로 교환

In [22]:
a,b #변수를 ,로 구분해 한 줄에 출력 => 바뀐 값 출력

(2, 1)

In [23]:
#복합형태 대입연산자2
#여러변수 값을 한번에 대입
a,b,c,d,e,f=1,2,"안녕","하세요",3,4     #변수 a에 1, b에 2, c에 안녕, d에 하세요 e에 3 f에 4 대입

In [24]:
a,b,c,d,e,f #변수를 ,로 구분해 한 줄에 출력

(1, 2, '안녕', '하세요', 3, 4)

In [25]:
#복합형태 대입연산자3
#컬렉션은 같은 변수를 공유하는 것
a=b=1 #변수a,b에 값 1 대입

In [26]:
a,b #변수를 ,로 구분해 한 줄에 출력

(1, 1)

In [27]:
b=2 #변수 b의 값을 2로 변경

In [28]:
a,b #변수를 ,로 구분해 한 줄에 출력 => 바뀐 값 출력

(1, 2)

In [29]:
#복합형태 대입연산자3
#컬렉션
a=b=[1,2,3] #a b에 값으로 배열 입력

In [30]:
a,b #변수를 ,로 구분해 한 줄에 출력

([1, 2, 3], [1, 2, 3])

In [31]:
#변수 a의 인덱스 1번(=2번째 값)을 4로 변경
#컬렉션은 같은 변수 공유! => 변수 b의 인덱스 1번도 변경된다.
a[1] = 4      #변경은 변수 a만 하지만, 값 공유하는 변수b도 변경됨

In [32]:
a,b #변수를 ,로 구분해 한 줄에 출력 => 바뀐 값 출력

([1, 4, 3], [1, 4, 3])

In [33]:
#복합형태 대입연산자4
#컬렉션 값 복사
a=[1,2,3,4,5] # 변수 a에 값으로 배열 입력

In [34]:
#컬렉션 복사 [:]
b=a[:] #변수 b에 변수 a 값을 복사해서 대입

In [35]:
a,b #변수를 ,로 구분해 한 줄에 출력

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [36]:
a[2] = 5 #변수 a의 인덱스 2를(=3번째 값) 5로 변경 => 변수 b와는 별개!!!!!

In [37]:
a,b #변수를 ,로 구분해 한 줄에 출력

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [38]:
#복합형태 대입연산자5
#값 오브젝트 정의해놓고 참고해서 사용
import sys    #sys모듈 불러오기

In [39]:
a = 123 #변수 a에 값 123대입

In [40]:
sys.getrefcount(123) # 123을 어느 공간에 만들어 참조

73

In [41]:
b=123; sys.getrefcount(123) #b=123을 만나면 참조횟수 증가

75

In [42]:
c=123; sys.getrefcount(123) #c=123을 만나면 참조 횟수 증가

76

In [43]:
#산술연산자 - 일반 산술연산자
1+2*3/4  #1+(2*3)/4 => 1+6/4 => 1+1.5 = 2.5 출력

2.5

In [44]:
#세제곱표현
2**3 #2^3 = 8 출력

8

In [45]:
10/3 #3.3333 출력

3.3333333333333335

In [46]:
1e12*123456789012 #e12 => 10^12 => 1*10^12  * 123456789012 실행

1.23456789012e+23

In [47]:
a = 1+2j #변수 a에 복소수값 대입 [변수 = 값]

In [48]:
a+(123+12j) #=> (1+2j) + (123 + 12j) => (1 + 123) + (2j + 12j) => 124 + 14j 출력

(124+14j)

In [49]:
#일반 산술연산자 - 정수형 연산
5/2 #나눗셈 연산

2.5

In [50]:
5//2 #몫 계산

2

In [51]:
5%2 #나머지계산

1

In [52]:
#산술 연산자 - 복합 연산
a=1;a=a+1;print(a) #변수 a에 값 1대입, 변수 a에 값 1증가한 것 대입 => 출력 결과 2

2

In [53]:
a=1;a+=1;print(a) # 위 연산식 중 [a=a+1] 을 [a+=1]로 표시 가능

2

In [54]:
#위 연산으로 a=2
a*=2;a #a*=2 는 a=a*2와 같은 의미, a 출력하면 2*2 = 4

4

In [55]:
#위 연산으로 a =4
a*=2;a #a*=2 는 a=a*2와 같은 의미, a 출력하면 4*2 = 8

8

In [56]:
#변수 a값 새로 지정
a=1;a-=1;a  #변수 a에 값 1 대입, 변수 a의 값 1뺌(-=) => 출력결과 0

0

In [57]:
#위 연산으로 a=0
a-=1;a #변수 a의 값 1뺌(-=) => 출력결과 -1

-1

In [59]:
#파이썬에서만 사용하는 =+, =-
a=1  #변수 a에 값 1 대입

In [60]:
#자바, C에서 사용하는 ++,--연산 불가
a++   #오류

SyntaxError: invalid syntax (87063450.py, line 2)

In [61]:
a--  #오류

SyntaxError: invalid syntax (3429559100.py, line 1)

In [62]:
#위 연산에서 a = 1인 상태
# [=+]연산자는 해당 변수에 +값 대입한다는 의미
#[=-]연산자는 해당 변수에 -값 대입한다는 의미
a=+ 1; print(a); a=- 1; a # 변수 a에 +1 대입 후 출력, 변수 a에 -1대입 후 출력

1

-1

In [63]:
#타입캐스팅 - 문자형 변환
a="멍멍이" #변수 a에 값으로 문자 할당

In [64]:
b="고양이" #변수 b에 값으로 문자 할당

In [65]:
a+b #문자형에서 +는 문자형들을 한 문장으로 출력 => 멍멍이고양이

'멍멍이고양이'

In [66]:
a*3 + b*2 #문자형에서 *는 해당 문자형을 반복 풀력 => 멍멍이 3회, 고양이 2회 출력

'멍멍이멍멍이멍멍이고양이고양이'

In [67]:
"-"*20 #"-"는 문자형 => -를 20번 출력

'--------------------'

In [68]:
#타입캐스팅 - 문자형을 숫자형으로 형변환
a=1 #변수 a에 값 1 대입 => 정수형

In [69]:
#문자형과 숫자형은 연산 불가 => 오류 출력
b="강아지" + a + "마리" #변수 b에 문자형과 숫자형을 연산한 값을 대입하려 해서 오류발생

TypeError: can only concatenate str (not "int") to str

In [70]:
#숫자형 변수 a를 문자형으로 형변환해 문자형끼리 연산가능
b="강아지" + str(a) + "마리" #문자 "강아지" + 문자 1 + 문자"마리"

In [71]:
b #문자형 변수 b 출력

'강아지1마리'

In [72]:
#문자형 변환 응용 - chr, ord함수
#chr는 유니코드 값 입력받아 그 코드에 해당하는 문자 출력
#ord는 문자의 유니코드 값 반환
ord("가") #문자 "가"의 유니코드 값 출력

44032

In [73]:
hex(ord("a")) #문자 "a"의 유니코드 값을 반환하고 그 값을 8진법으로 반환

'0x61'

In [74]:
#for 반복문
#end= 는 마지막 문자지정
#range(시작, 끝) => 시작~끝-1 범위 반환
for c in range (ord('a'), ord('z')+1): #문자"a"유니코드값부터 "z"유니코드값 까지의 범위값을 변수 c에 대입.
    print(hex(c),"=",chr(c),", ",end="") #출력형태 : [변수 c의 8진수 값 = c 값을 문자로 반환한 결과,]를 한 줄로 이어서 출력.

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [75]:
#타입 캐스팅 - 숫자형 변환
a="123"; a+1 #변수 a는 문자형("")=> 문자형 변수a 에 숫자형연산해서 오류 발생

TypeError: can only concatenate str (not "int") to str

In [76]:
a="123"; int(a)+1 #문자형 변수a를 숫자형으로 타입캐스팅 후 숫자 1 더하기 연산

124

In [77]:
a=12.3; int(a) #실수형 변수 a를 정수형으로 변환 => 소수점 이하 버림

12

In [78]:
#타입 캐스팅 - 숫자형 변환 - float()
#형변환 오류!
a="12.3";int(a) # 문자형 변수 a는 문자가  실수형인데, 이를 정수형으로 형변환 => 오류발생

ValueError: invalid literal for int() with base 10: '12.3'

In [79]:
float(a) #실수형 문자를 가진 변수 a를 실수형으로 형변환

12.3

In [80]:
#연산시 실수형이 하나라도 있으면 실수형으로 연산
a=1.1; 1+a+12 #변수 a에 값 1.1 대입, 정수1과 12에 실수형 변수 a 더하기연산 => 실수형 결과 출력

14.1

In [81]:
#실수형 변수 a 값은 1.1
1+int(a)+12 #실수형 변수 a를 정수형으로 변환해 소수점이하 버린 후 연산

14

In [82]:
#타입 캐스팅 - 숫자형 변환 - float() - 올림, 버림, 반올림
#버림 예시
int(3.14) #실수형 값 3.14를 정수형int로 형변환 => 소수점 이하 버림

3

In [83]:
#반올림 : 지정한 자리까지만 표시
#round(number[, ndigits])
#3.14 반올림, 3.14를 반올림해서 1의 자리까지만 표시, 123456을 뒤에서 4번째자리에서 반올림
print(round(3.14)); print(round(3.14,1)); round(123456,-4)

3
3.1

120000

In [84]:
#올림 예시
a=1234567 #1234567 할당

In [85]:
#a = 1234567
#a를 백의자리에서 올림 하기 위해 1000을 사용
if(a%1000 != 0 ) : #1000으로 나눠 떨어지지 않으면
    a=int(a/1000)*1000+1000  
    #1) 소수점버림 : a를 1000으로 나누고 정수로 변환  => a=1234.567 이 a=1234가 됨
    #2) 원래 자릿수 맞추기 : a에 다시 1000을 곱함 => a = 1234000
    #3) 버린 값에 한 자리 올림 : 다음 1000을 더함. => a = 1235000
else: #1000으로 나눠 떨어진다면
    a=int(a/1000)*1000 #천의 자리 이하는 0으로 변환
    #예) a = 1234000 => a/1000 = 1234 => int(1234)*1000 = 1234*1000 = 1234000

In [86]:
a #a 출력

1235000