In [1]:
1+2

3

In [2]:
1 + 2

3

In [3]:
        1 + 2

3

In [4]:
>>> 1 + 2

3

In [5]:
>>>  1+2   #대화형은 첫칸 비우면 안됨

IndentationError: unexpected indent (2845378040.py, line 1)

In [6]:
sw = 1   #sw에 1대입
if sw == 1:      #sw가 1이면
    print("스위치 on")    #출력
else:    #sw가 1이 아니면
    print("스위치 off")     #출력

스위치 on

In [7]:
print(1+2); print(3+4); print(5+ 7)

3
7
12

In [8]:
print(1+2)

3

In [9]:
Print(1+2)

NameError: name 'Print' is not defined

In [10]:
PRINT(1+2)

NameError: name 'PRINT' is not defined

In [11]:
abc = 1

In [12]:
1 + 2

3

In [13]:
abc

1

In [14]:
print (abc)

1

In [15]:
print(1+2)

3

In [16]:
#출력예시
a=1  #a에 1대입
b=2  #b에 2대입
a+b  #스크립트형에서는 print가 없으면 출력되지 않는다.
print (a+b)  #출력
1+2  #스크립트형에서는 print가 없으면 출력되지 않는다.
print (1+2)  #출력

3
3

In [17]:
a= "아침" #a에 아침 입력
b= "점심" #b에 점심 입력
c= "저녁" #c에 저녁 입력
print(a,b,c) #변수 3개 한 줄에 출력
print(a,b,c, sep="먹고 ") #변수 사이에 구분자로 "먹고"출력한다.
print(a,b,c, sep="먹고 " ,end ="땡") #변수 사이에 구분자로 "먹고"출력, 마지막문자는 "땡" 출력

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁땡

In [18]:
a= "아침" #a에 아침 입력
b= "점심" #b에 점심 입력
c= "저녁" #c에 저녁 입력
print(a,b,c) #변수 3개 한 줄에 출력
print(a,b,c, sep="먹고 ") #변수 사이에 구분자로 "먹고"출력한다.
print(a,b,c, sep="먹고 " ,end ="") #변수 사이에 구분자로 "먹고"출력, 마지막문자는 공백, 줄바꿈 없음
print(a,b,c, sep="자고 " ,end ="") #변수 사이에 구분자로 "자고"출력, 마지막문자는 공백, 줄바꿈 없음
print(a,b,c, sep="먹고 " ,end ="\n") #변수 사이에 구분자로 "먹고"출력, 마지막문자는 줄바꿈.
print(a,b,c, sep="자고 " ,end ="\n") #변수 사이에 구분자로 "자고"출력, 마지막문자는 줄바꿈.

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁아침자고 점심자고 저녁아침먹고 점심먹고 저녁
아침자고 점심자고 저녁

In [19]:
a= 22 #a에 22 입력
b= 33 #b에 33 입력
print(a,b, sep="+" ,end="=") #a,b출력하는데 두 변수사이에 구분자 +입력, 마지막 문자로 =입력, 줄바꿈 없음
print(a+b) #윗줄에 이어서 두 변수 합 출력

22+33=55

In [20]:
#입력예시
#var = input(“입력 전 출력내용”)
a= input("너는 이름이 뭐니?") #a 값 입력 받을 때, ( )괄호 문구 출력
print("이름이 ",a," 입니다") #문구 사이에 입력받은 a 함께 출력
b= input("너는 몇 살이니?") #b 값 입력 받을 때, ( )괄호 문구 출력
print("나이가 ",b,"살 입니다") #문구 사이에 입력받은 b 함께 출력

너는 이름이 뭐니?정혜임
이름이  정혜임  입니다
너는 몇 살이니?29
나이가  29 살 입니다

In [21]:
#파이썬에서 print는 기본적으로 줄바꿈. end문자 사용시에는 \n 로 줄바꿈 표시해줘야 줄바꿈된다.
a= input("a값을 입력하셔요?") #a 값 입력 받을 때, ( )괄호 문구 출력
b= input("b값을 입력하셔요?") #b 값 입력 받을 때, ( )괄호 문구 출력
print(a,b, sep="+" ,end="=") #두 변수 사이에 구분자로 + 출력, 마지막문자로 = 출력 (줄바꿈 X)
print(a+b) #a와 b합 출력 => 두 변수 모두 문자형이라 출력결과는 "1" + "2" = 12
print("수치 계산", end =" : ") #새로운 메세지 출력
print(a,b, sep="+" ,end="=") #두 변수 사이에 구분자로 + 출력, 마지막문자로 = 출력 (줄바꿈 X)
print(int(a)+int(b)) #입력 받은 변수를 정수형으로 변환 후, 두 변수 합 출력=> 1 + 2 = 3

a값을 입력하셔요?1
b값을 입력하셔요?2
1+2=12
수치 계산 : 1+2=3

In [22]:
a= input("품목?") #a 값 입력 받을 때, ( )괄호 문구 출력 => 변수 a는 문자형
b=int(input("수량?")) #b 값 입력 받을 때, ( )괄호 문구 출력 => 변수 b는 정수형
c=int(input("단가?")) #c 값 입력 받을 때, ( )괄호 문구 출력 => 변수 c는 정수형
print(a, " : ",b,"개 * ",c,"원 = 총 ", b*c, "원") #한 줄에 결과 출력// b,c는 정수형이라 b*c 연산가능

품목?몽쉘
수량?10
단가?100
몽쉘  :  10 개 *  100 원 = 총  1000 원

In [23]:
#변수
#변수내에값을배정, 지정(Assignment)하는개념.
a = 1 #변수 a에 값1 지정

In [24]:
print(a)   #출력

1

In [25]:
a = 2 #변수 a에 값2 지정

In [26]:
print(a)   #출력 => a의 값이 1에서 2로 변경됨.

2

In [27]:
b = 3   #변수 b에 값 3 지정

In [28]:
print(b)   #출력

3

In [29]:
print(a)   #출력 => a는 값을 2로 지정한 후에 변동사항 없음.

2

In [30]:
#변수의 사용법
#type() : 변수의형태를나타내주는함수
#변수에 값을 지정할 때 변수의 형태가 설정됨
a=1122;print(a);type(a) #변수 a에 값 1122지정 후 출력, 변수 a 타입은 정수형(정수입력했기때문)

1122

int

In [31]:
b="hello";print(b);type(b) #b에 hello 지정 후 출력, 변수 b 타입은 문자형("문자"입력했기때문)

hello

str

In [32]:
b=12 #문자형인 변수 b 값을 정수형인 12로 갱신

In [33]:
type(b) #갱신한 변수 b 타입 출력=> 정수형

int

In [34]:
#변수를 더 이상 사용하지 않을 때 del로 변수 메모리 공간 반환
a=1122;print(a);type(a) #변수 a에 값 1122지정 후 출력, 변수 a 타입은 정수형(정수입력했기때문)

1122

int

In [35]:
a=11; print(a)   # 변수a 값을 11로 갱신, 출력

11

In [36]:
del a    #변수 a 삭제

In [37]:
print(a)   #a 출력

NameError: name 'a' is not defined

In [38]:
#변수명 명명법
net=100; qty=1000; total=net*qty; print(total) #변수명은 목적 파악 쉬운 이름으로 작성

100000

In [39]:
#파이썬은 한글변수명도 가능하지만 관습적으로 영어변수명만 사용
단가=100; 수량=1000; 총합=단가*수량; print(총합)

100000