In [1]:
#파이썬08강 - 리스트와 튜플
#리스트1
a = [1, 2, 3, 4, 5] #변수 a는 리스트 자료형 
a[0], a[1], a[2], a[3], a[4] #리스트 인덱스로 각 값 호출

(1, 2, 3, 4, 5)

In [2]:
#리스트2
#하나의 리스트에 여러 자료형 입력가능
a = [11, "abc", 12.3333, "굿", 2+3j] #하나의 리스트에 정수형, 문자형, 실수형 등
a[1] = 9999; a[2] = "정혜임" #리스트 해당 인덱스 값 변경
a[0], a[1], a[2], a[3], a[4] #리스트 인덱스로 각 값 호출

(11, 9999, '정혜임', '굿', (2+3j))

In [3]:
#리스트3
#for반복문과 리스트
score = [90, 80, 70, 60, 30] #변수 score에 리스트 대입
sum = 0 #변수 sum 선언, 값 0 초기화
for s in score: #반복문으로 변수 s에 score 리스트 값을 순서대로 대입
    print("점수(",s,")") # "점수(" 문자와 s 값 ")"문자 출력
    sum+=s #sum은 s값을 누적
print("총점:",sum); #총점 출력.

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [4]:
#리스트 표현방식1
#역방향 인덱스 마지막은 -1
#다음 예제는 정방향인덱스와 역방향인덱스가 동일 값을 가리킴

a=[1,2,3,4,5] #리스트 선언
a[0], a[-5] #0번째 값과 -5번째값 출력

(1, 1)

In [5]:
a[1],a[-4] #1번째 값과 -4번째값 출력

(2, 2)

In [6]:
a[2],a[-3] #2번째 값과 -3번째값 출력

(3, 3)

In [7]:
a[3],a[-2] #3번째 값과 -2번째값 출력

(4, 4)

In [8]:
a[4],a[-1] #4번째 값과 -1번째값 출력

(5, 5)

In [9]:
# 리스트 표현방식2
#리스트 인덱스 [begin:end:step]으로 표현가능
#begin이상 end미만 이다. 	=> range와 같음

a=[1,2,3,4,5,6,7,8,9,10] #리스트 선언
a[2:8] # 2번째부터 7번째 인덱스값 출력

[3, 4, 5, 6, 7, 8]

In [10]:
a[:4] #0번째부터 3번째 인덱스값 출력

[1, 2, 3, 4]

In [11]:
a[5:] #5번째부터 마지막 인덱스까지 출력

[6, 7, 8, 9, 10]

In [12]:
a[0:6:3] #0번째부터 5번째까지 인덱스 3씩 증가하며 출력=> 인덱스 0, 3번값 출력

[1, 4]

In [14]:
#다중리스트1
#리스트 안에 리스트

a=[[1,2,3],[4,5,6],[7,8,9]] #리스트 안에 리스트 선언 => 자바 배열과 유사
a[2] #인덱스 2번째 리스트 출력 => [7,8,9]

[7, 8, 9]

In [15]:
a[2][2] #인덱스 2번 리스트의 인덱스 2번째 값 출력 => 9

9

In [16]:
a[1][3] #인덱스 1번 리스트의 인덱스 3번째 값 출력 => 인덱스 3번 없어 오류

IndexError: list index out of range

In [17]:
a[1][2]  #인덱스 1번 리스트의 인덱스 2번째 값 출력 => 6

6

In [18]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트

In [19]:
a     #a 출력

[[1, 2], [3, 4, 5], 6]

In [20]:
a[2] #인덱스 3번째 값 출력 => 6

6

In [21]:
a[1] #인덱스 1번째 값 출력 => [3,4,5]

[3, 4, 5]

In [22]:
#리스트 컴프리헨션(List Comprehension) - 예제1
#<형식>[요소 for 변수 in (리스트)(range) {if 조건}]

#리스트범위 1~9 => 변수 n에 한 개씩 값 대입 => 각 값에 3 곱한 값을 변수 a에 대입
a=[ n * 3 for n in range (1,10)]
a   #a 출력

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [24]:
#리스트 컴프리헨션(List Comprehension) - 예제2
#<형식>[요소 for 변수 in (리스트)(range) {if 조건}]

#시행순서 : 리스트 생성 for n in range (1,10) => if n % 2 == 0 => n * 3
#리스트범위 1~9 => 변수 n에 한 개씩 값 대입 => 만약, n이 2의 배수면, 그 n 값에 3 곱한 값을 변수 a에 대입
a = [ n * 3 for n in range (1,10) if n % 2 == 0 ] 
a   #a 출력

[6, 12, 18, 24]

In [25]:
#리스트 연습1 - 성적표 출력
#함수 선언 후 pass로 함수 비워두고 하나씩 채워감

def titleprint(): # titleprint 함수 생성
    pass # 내용은 비워둠
def itemprint(name, kortotal, engtotal, mathtotal): # itemprint 함수 생성
    pass # 내용은 비워둠
def tailprint(): # tailprint 함수 생성
    pass # 내용은 비워둠

#데이터 2차원 리스트
score = [["나연", 100, 90, 100],
        ["정연", 90, 90, 100],
        ["모모", 80, 70, 90],
        ["사나", 90, 90, 80],
        ["지효", 100, 80, 80],
        ["미나", 50, 90, 90],
        ["다현", 80, 60, 100],
        ["채영", 70, 80, 90],
        ["쯔위", 100, 90, 90]]

#프로그램을 보기 좋게 하려고 상수를 정의
name = 0; kor = 1; eng = 2; mat = 3

#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name], one_student[kor], one_student[eng], one_student[mat])
tailprint()

In [28]:
#리스트 연습2 - 성적표 출력
#함수 선언 후 pass로 함수 비워뒀던 함수들 내용 채움

#함수선언
def titleprint(): #상단 타이틀부분 출력함수
    print("=" * 50)    #등호 50번 출력해 구분선 생성
    print("이름\t국어\t영어\t수학\t총점\t평균")      #탭으로 각 값 칸 구분
    print("=" * 50)    #등호 50번 출력해 구분선 생성
              
def itemprint(name, kor, eng, mat): # 각 과목 성적 입력하는 함수 (매개변수 4개)
    #이름, 각과목별 점수, 3과목 점수 총합, 3과목 점수평균 출력
    print(name, "\t", kor, "\t", eng, "\t", mat, "\t", kor + eng + mat, "\t", (kor + eng + mat) // 3)
    #출력> 나연  100  90  100  290  96
    #출력> 정연  90  90  100  280  93
    
def tailprint(): # 합산부 출력
    totkor = 0 # 국어 점수 합계 변수 선언 및 값 0으로 초기화
    toteng = 0 # 영어 점수 합계 변수 선언 및 값 0으로 초기화
    totmat = 0 # 수학 점수 합계 변수 선언 및 값 0으로 초기화
    for one_student in score:    #반복문으로 성적리스트의 각 과목 값 더함
        totkor += one_student[kor] # 국어 점수 합계 변수에 국어 점수 누적
        toteng += one_student[eng] # 영어 점수 합계 변수에 영어 점수 누적
        totmat += one_student[mat] # 수학 점수 합계 변수에 수학 점수 누적
    print("=" * 50)    #등호 50번 출력해 구분선 생성
    #과목별 총점, 3과목 총점, 평균 출력
    print("반총점\t", totkor, "\t", toteng, "\t", totmat, "\t"\
          , (totkor + toteng + totmat), "\t", (totkor + toteng + totmat) / 3 // 9)
    print("=" * 50)    #등호 50번 출력해 구분선 생성
    
#데이터 2차원 리스트
score = [["나연", 100, 90, 100],
        ["정연", 90, 90, 100],
        ["모모", 80, 70, 90],
        ["사나", 90, 90, 80],
        ["지효", 100, 80, 80],
        ["미나", 50, 90, 90],
        ["다현", 80, 60, 100],
        ["채영", 70, 80, 90],
        ["쯔위", 100, 90, 90]]

#프로그램을 보기 좋게 하려고 상수를 정의 => 리스트에서의 해당 항목 인덱스
name = 0; kor = 1; eng = 2; mat = 3
    
#여기부터 프로그램
titleprint()      #상단 타이틀 출력 함수실행
for one_student in score:    #scroe 리스트 값들을 한 줄씩 넣어가며 계산
    itemprint(one_student[name], one_student[kor], one_student[eng], one_student[mat])
tailprint()     #합산부 출력 함수 실행

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [29]:
#리스트 관리 - 리스트 삽입, 삭제1
a = [1, 2, 3, 4, 5]   #리스트 선언
a  #리스트 출력

[1, 2, 3, 4, 5]

In [30]:
del a[2] # 리스트 인덱스 2번 요소 삭제
a #리스트 출력

[1, 2, 4, 5]

In [31]:
a.clear() # 리스트 요소 전부 제거
a  #리스트 출력 => 빈 리스트만 남음 => []

[]

In [32]:
del a # 리스트 a 자체를 아예 삭제
a #리스트 출력 => 오류 발생 => a가 정의되어있지 않다.

NameError: name 'a' is not defined

In [33]:
# 리스트 삽입, 삭제2
#append는 리스트의 끝에 값추가
a = []  # 빈 리스트 정의
a.append(1) # 리스트a에 값 1 추가
a.append(3) # 리스트a에 값 3 추가
a.append(5) # 리스트a에 값 5 추가
a #리스트 출력

[1, 3, 5]

In [34]:
a = [4, 5, 6] #위에서 생성한 리스트 값을 재정의
a.append(10)  #리스트에 값 10 추가
a #리스트 출력

[4, 5, 6, 10]

In [35]:
# 리스트 삽입, 삭제3
#i ntsert(삽입위치, 삽입내용) : 위치지정해서 리스트에 값 추가
a = [1, 2, 3, 4, 5] # 위에서 생성한 리스트 값을 재정의
a.append(6)  # append는 리스트의 끝에 값추가
a # 리스트 출력

[1, 2, 3, 4, 5, 6]

In [36]:
a.insert(3, 12) # 인덱스 3에 값 12 추가
a # 리스트 출력

[1, 2, 3, 12, 4, 5, 6]

In [37]:
a.insert(4, 15) # 인덱스 4에 값 15 추가
a # 리스트 출력

[1, 2, 3, 12, 15, 4, 5, 6]

In [38]:
a.insert(3, 1) # 인덱스 3에 값 1 추가
a #리스트 출력

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [39]:
# 리스트 삽입, 삭제4
# 여러개의 요소 삽입시 list[n:n]= 방식으로 사용 (n은 삽입위치)
a = [1, 2, 3, 1, 12, 15, 4, 5, 6] 
a[5:5] = [1, 2, 3, 4, 5, 6]  # 인덱스 5에서 인덱스 5까지 영역에 해당 리스트 값 대입 => 인덱스 5에 [1, 2, 3, 4, 5, 6] 대입
a #리스트 출력

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [40]:
# 리스트 삽입, 삭제5
# list[n]= 을 사용하면 해당 n요소의 리스트가 리스트 형태 자체로 대입됨
a = [1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5] = [1, 2, 3, 4, 5, 6]  #인덱스 5에 리스트형태 자체로 대입
a #리스트 출력

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [41]:
# 리스트 삽입, 삭제6
#리스트 병합 방법
# 1) + 연산을 이용
a = [1, 2, 3]   # 리스트 선언
b = [4, 5, 6]   # 리스트 선언
a = a + b     #리스트가 담긴 변수 a에 리스트가 담긴 변수 b를 더해 재정의
a #리스트 출력

[1, 2, 3, 4, 5, 6]

In [42]:
# 2) list.extend => 두 개의 리스트를 병합
a = [1, 2, 3]   # 리스트 선언
b = [4, 5, 6]   # 리스트 선언
a.extend(b)   #리스트 a에 리스트 b 병합
a #리스트 출력

[1, 2, 3, 4, 5, 6]

In [43]:
# 리스트 삽입, 삭제7
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]   # 리스트 선언
a # 리스트 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [44]:
a.remove(7) # 첫번째로 나오는 값 7 삭제 => 인덱스 넘버 아니고 실제 값임!!
a #리스트 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [45]:
a.remove(7) # 첫번째로 나오는 값 7 삭제 => 위에서 값 7한개 삭제해 리스트 변한 상태
a #리스트 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [48]:
a[5] = [] # 인덱스 5에 빈 리스트 대입 (주의: a[5:5]=[]라고 해야 함)
a #리스트 출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [49]:
a[2:4] = [] # 인덱스 2부터 3사이에 빈 리스트 대입
a #리스트 출력

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [50]:
# 리스트 삽입, 삭제8
del(a[4]) # 리스트 a의 인덱스 4 삭제
a # 리스트 출력

[1, 2, 4, [], 6, 7, 7, 8]

In [51]:
del(a[3]) # 리스트 a의 인덱스 3 삭제
a # 리스트 출력

[1, 2, 4, 6, 7, 7, 8]

In [52]:
a.clear()  # 리스트 요소 전부 제거 => 빈 리스트만 남음
a # 리스트 출력

[]

In [54]:
del a # 리스트 a 자체를 아예 삭제
a #리스트 출력 => 오류 발생 => a가 정의되어있지 않다.

NameError: name 'a' is not defined

In [55]:
# 리스트 삽입, 삭제9
# list.pop(n)은 해당 위치를 리턴하고 삭제함 n이 없다면 맨 마지막 요소 리턴
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]   #리스트 선언
a.pop() # 마지막 요소 리턴

8

In [56]:
a # 리스트 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [57]:
a.pop() # 마지막 요소 리턴

7

In [58]:
a.pop(3) # 인덱스 3번 리턴하고 삭제

3

In [59]:
a #리스트 출력

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [60]:
a.pop(6) # 인덱스 6번 리턴하고 삭제

6

In [61]:
a #리스트 출력

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [62]:
a.pop(6) # 인덱스 6번 리턴하고 삭제

7

In [63]:
a.pop(0) # 인덱스 0번 리턴하고 삭제

1

In [64]:
a #리스트 출력

[2, 3, 4, 4, 5, 7, 7]

In [65]:
# 리스트 검색1
# list.index(값) : 해당 값이 처음 나오는 위치를 리턴
# list.count(값) : 해당 값이 몇번 나오는지 리턴
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]   #리스트 선언
a.index(7)  # 값 7이 처음 나오는 인덱스 반환 => 8

8

In [66]:
a.index(8) # 값 8이 처음 나오는 인덱스 반환 =>  12

12

In [67]:
a.index(4) # 값 4가 처음 나오는 인덱스 반환 =>  4

4

In [68]:
a.count(7) # 값 7이 나오는 횟수 반환 => 4

4

In [69]:
# 리스트 검색2
# min(list),max(list) : 리스트 중 최소값과 최대값을 구함
# len(list) 리스트의 크기(개수)를 구함
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]   # 리스트 선언
min(a) # a의 최소값 리턴

1

In [70]:
max(a) # a의 최대값 리턴

8

In [71]:
len(a) # a의 크기 리턴

13

In [72]:
# 리스트 정렬
# list.sort() : 리스트 내용을 정렬함
# list.reverse() : 리스트 내용을 역으로 보여줌
a = [1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4]   #리스트 선언
a.reverse() # 리스트 내용을 역순으로 출력
a # 리스트 출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [73]:
a.sort() # 리스트 내용 오름차순 정렬
a  # 리스트 출력

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [74]:
#***********심화학습**********
#함수 선언 후 pass로 아무것도 실행하지 않고, 데이터 채운 후에 함수 명령 작성
#성적표에서 score리스트 값을 random으로 생성

import random as r #랜덤함수 사용하기 위해 라이브러리 선언 => 변수명 r로 ramdom 라이브러리 사용!

#함수선언
def titleprint(): # 상단 타이틀 출력 함수
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    #이름, 과목별 성적, 3과목 성적 총합, 과목평균 출력
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 # 국어 점수 합계 변수 선언 및 값 0으로 초기화
    toteng=0 # 영어 점수 합계 변수 선언 및 값 0으로 초기화
    totmat=0 # 수학 점수 합계 변수 선언 및 값 0으로 초기화
    for one_student in score: #성적 리스트값 순서대로 받아오고
        totkor+=one_student[kor] #각 과목 점수 누적
        toteng+=one_student[eng] #각 과목 점수 누적
        totmat+=one_student[mat] #각 과목 점수 누적
    print("="*50) #등호 50개 출력해서 구분선 생성
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//100) #이름 성적 총합 평균 출력
    print("="*50) #등호 50개 출력해서 구분선 생성
    
#데이터
one_person=[] #리스트 선언(인원의 이름, 성적을 추가)
score=[] #리스트 선언(위의 one_person의 성적을 하나하나 리스트에 추가)
for i in range(100): #10부터 99까지 1씩 증가하며 입력하는 for문 작성
    one_person.append("name"+str(i)) #name + (0 ~ 99) => 숫자 0~99를 문자형 str으로 받음
    one_person.append(r.randrange(10,100)) # 국어 10부터 99까지 랜덤 값 대입
    one_person.append(r.randrange(10,100)) # 영어 10부터 99까지 랜덤 값 대입
    one_person.append(r.randrange(10,100)) # 수학 10부터 99까지 랜덤 값 대입
    score.append(one_person[:]) # 값을 복사해서 추가함에 주의할 것
    one_person.clear() #리스트의 값들 전부제거

# 프로그램을 보기 좋게 하려고 상수를 정의 => 리스트에서 해당 항목의 인덱스
name = 0; kor = 1; eng = 2; mat = 3


#여기부터 프로그램
titleprint() #상단 타이틀 출력함수
for one_student in score:   #scroe 리스트 값들을 한 줄씩 넣어가며 계산
    itemprint(one_student[name], one_student[kor], one_student[eng], one_student[mat])
tailprint() #하단에 합산부 총합 등 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 56 	 98 	 49 	 203 	 67
name1 	 12 	 74 	 44 	 130 	 43
name2 	 55 	 90 	 83 	 228 	 76
name3 	 25 	 93 	 32 	 150 	 50
name4 	 94 	 39 	 98 	 231 	 77
name5 	 24 	 52 	 61 	 137 	 45
name6 	 62 	 74 	 88 	 224 	 74
name7 	 98 	 76 	 61 	 235 	 78
name8 	 60 	 20 	 90 	 170 	 56
name9 	 94 	 40 	 15 	 149 	 49
name10 	 73 	 84 	 49 	 206 	 68
name11 	 87 	 23 	 37 	 147 	 49
name12 	 67 	 50 	 45 	 162 	 54
name13 	 30 	 63 	 96 	 189 	 63
name14 	 24 	 64 	 81 	 169 	 56
name15 	 21 	 33 	 28 	 82 	 27
name16 	 34 	 13 	 85 	 132 	 44
name17 	 27 	 24 	 13 	 64 	 21
name18 	 64 	 95 	 51 	 210 	 70
name19 	 27 	 25 	 31 	 83 	 27
name20 	 11 	 86 	 35 	 132 	 44
name21 	 62 	 79 	 99 	 240 	 80
name22 	 84 	 98 	 85 	 267 	 89
name23 	 39 	 43 	 38 	 120 	 40
name24 	 11 	 40 	 33 	 84 	 28
name25 	 59 	 33 	 67 	 159 	 53
name26 	 79 	 29 	 87 	 195 	 65
name27 	 74 	 79 	 20 	 173 	 57
name28 	 67 	 21 	 25 	 113 	 37
name29 	 83 	 97 	 76 	 256 	 85
name30 	 85 	 85 	 94 	 264 	 88
name31 	 81 	 29 	 21 	 131 	 43
name32 	 62 	 41 	 63 	 166 	 55
name33 	 17 	 18 	 69 	 104 	 34
name34 	 33 	 10 	 79 	 122 	 40
name35 	 41 	 63 	 45 	 149 	 49
name36 	 99 	 51 	 14 	 164 	 54
name37 	 49 	 90 	 95 	 234 	 78
name38 	 93 	 88 	 20 	 201 	 67
name39 	 35 	 19 	 68 	 122 	 40
name40 	 12 	 80 	 25 	 117 	 39
name41 	 38 	 43 	 16 	 97 	 32
name42 	 26 	 88 	 81 	 195 	 65
name43 	 82 	 11 	 58 	 151 	 50
name44 	 74 	 44 	 29 	 147 	 49
name45 	 30 	 25 	 24 	 79 	 26
name46 	 29 	 53 	 54 	 136 	 45
name47 	 80 	 88 	 65 	 233 	 77
name48 	 74 	 99 	 76 	 249 	 83
name49 	 73 	 71 	 46 	 190 	 63
name50 	 53 	 54 	 67 	 174 	 58
name51 	 84 	 47 	 39 	 170 	 56
name52 	 29 	 24 	 87 	 140 	 46
name53 	 89 	 98 	 58 	 245 	 81
name54 	 44 	 83 	 30 	 157 	 52
name55 	 76 	 44 	 31 	 151 	 50
name56 	 13 	 65 	 51 	 129 	 43
name57 	 91 	 87 	 32 	 210 	 70
name58 	 27 	 25 	 98 	 150 	 50
name59 	 35 	 24 	 96 	 155 	 51
name60 	 98 	 25 	 56 	 179 	 59
name61 	 70 	 17 	 55 	 142 	 47
name62 	 13 	 60 	 33 	 106 	 35
name63 	 33 	 58 	 85 	 176 	 58
name64 	 74 	 62 	 66 	 202 	 67
name65 	 30 	 63 	 33 	 126 	 42
name66 	 91 	 84 	 61 	 236 	 78
name67 	 44 	 68 	 12 	 124 	 41
name68 	 80 	 36 	 72 	 188 	 62
name69 	 42 	 43 	 12 	 97 	 32
name70 	 15 	 59 	 64 	 138 	 46
name71 	 90 	 21 	 50 	 161 	 53
name72 	 13 	 17 	 11 	 41 	 13
name73 	 74 	 64 	 62 	 200 	 66
name74 	 56 	 10 	 22 	 88 	 29
name75 	 26 	 38 	 58 	 122 	 40
name76 	 92 	 13 	 12 	 117 	 39
name77 	 95 	 22 	 62 	 179 	 59
name78 	 20 	 59 	 18 	 97 	 32
name79 	 79 	 45 	 67 	 191 	 63
name80 	 23 	 34 	 42 	 99 	 33
name81 	 48 	 11 	 63 	 122 	 40
name82 	 60 	 61 	 56 	 177 	 59
name83 	 13 	 78 	 58 	 149 	 49
name84 	 59 	 16 	 76 	 151 	 50
name85 	 58 	 73 	 75 	 206 	 68
name86 	 56 	 24 	 67 	 147 	 49
name87 	 47 	 97 	 67 	 211 	 70
name88 	 76 	 68 	 38 	 182 	 60
name89 	 60 	 15 	 54 	 129 	 43
name90 	 76 	 97 	 93 	 266 	 88
name91 	 26 	 76 	 39 	 141 	 47
name92 	 85 	 21 	 99 	 205 	 68
name93 	 89 	 79 	 65 	 233 	 77
name94 	 68 	 45 	 82 	 195 	 65
name95 	 14 	 87 	 37 	 138 	 46
name96 	 83 	 97 	 43 	 223 	 74
name97 	 97 	 14 	 99 	 210 	 70
name98 	 70 	 48 	 72 	 190 	 63
name99 	 48 	 81 	 98 	 227 	 75
==================================================
반총점	 5548 	 5368 	 5567 	 16483 	 54.0
==================================================

In [75]:
# 튜플1
# 값 조회는 가능
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)   #튜플선언
a  #튜플 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [76]:
a[5] #튜플 인덱스 5 출력

4

In [77]:
a[3:5] #튜플 인덱스 3,4 출력

(6, 2)

In [78]:
a[3:8] #튜플 인덱스 3~7까지 출력

(6, 2, 4, 5, 2)

In [79]:
a * 2 #튜플을 두번 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [80]:
# 튜플2
# 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)   #튜플선언
a  #튜플 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [81]:
#오류발생!
a[1] = 5 # 튜플은 최초선언 후에 값 대입, 변경,구조 삭제 불가

TypeError: 'tuple' object does not support item assignment

In [82]:
#오류발생!
del a[4] # 튜플은 최초선언 후에 값 대입, 변경,구조 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [83]:
#오류발생!
a.append(10) # 튜플은 최초선언 후에 값 대입, 변경,구조 삭제 불가

AttributeError: 'tuple' object has no attribute 'append'

In [84]:
# 튜플 (예시)
def location():   #위치 출력하는 함수선언
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환
a=location() #변수 a에 함수 리턴값 대입
print(a)  #튜플 출력

((2, 17403), (41, 40338))